<?php

return [
    'caption' => 'Company',
    'settings' => [
        'company_logo' => [
            'caption' => 'Logotype',
            'type' => 'image',
            'note' => 'If empty, will be default',
        ],
        'company_address' => [
            'caption' => 'Address',
            'type'  => 'text',
        ],
        'company_phone' => [
            'caption' => 'Phone',
            'type'  => 'text',
        ],
        'company_email' => [
            'caption' => 'Email',
            'type'  => 'text',
        ],
        'head_text' => [
            'caption' => 'Header text',
            'type'  => 'textarea',
        ],
        'test' => [
            'caption' => 'test',
            'type' => 'custom_tv:multitv',
        ],
    ],
];
