<?php

return [
    'caption'  => 'Social links',
    'settings' => [
        'social_facebook' => [
            'caption' => 'Facebook',
            'type'  => 'text',
        ],
        'social_instagram' => [
            'caption' => 'Instagram',
            'type'  => 'text',
        ],
        'social_youtube' => [
            'caption' => 'Youtube',
            'type'  => 'text',
        ],
    ],
];
