<?php

return [
    'caption'  => 'Социальные сети',
    'subtitle' => 'Если какая-либо ссылка не заполнена - она не будет показываться. Также отображение должно быть предусмотрено в шаблоне.',
    'settings' => [
        'social_facebook' => [
            'caption' => 'Facebook',
            'type'  => 'text',
        ],
        'social_vkontakte' => [
            'caption' => 'ВКонтакте',
            'type'  => 'text',
        ],
        'social_instagram' => [
            'caption' => 'Instagram',
            'type'  => 'text',
        ],
        'social_youtube' => [
            'caption' => 'Youtube',
            'type'  => 'text',
        ],
        'social_odnoklassniki' => [
            'caption' => 'Одноклассники',
            'type'  => 'text',
        ],
    ],
];
